﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="hero__item set-bg" data-setbg="ogani/img/hero/banner.jpg">
    <div class="hero__text">
        <span>RUMAH MAKAN</span>
        <h2> SIMPANG RAYA <br />100% ASLI PADANG</h2>
        <p>Free Pickup and Delivery Available</p>
        <a href="#" class="primary-btn">SHOP NOW</a>
    </div>
</div>
